{% extends "base.html" %}

{% block title %}{{__name__}} - Lexwheels{% endblock %}

{% block navbar %}
  {% if g.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.welcome') }}">Admin</a>
          </li>
  {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Admin</a>
          </li>
  {% endif %}
  <li class="nav-item active">
    <a class="nav-link" href="{{ url_for('owners') }}">Owners<span class="sr-only">(current)</span></a>
  </li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Owners</th>
      </tr>
    </thead>
    <tbody>
      {% for owner in owners %}
        <tr>
          <td scope="row">
            <a href="{{ url_for('owner', id = owner.id) }}">{{ owner.name }}</a> 
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

