{% extends "base.html" %}

{% block title %}Welcome to lexwheels{% endblock %}

{% block navbar %}
  {% if g.user %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Log out<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.admin') }}">Admin</a>
          </li>
  {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Log In<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Admin</a>
          </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('owners') }}">Owners</a>
  </li>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto ">
        <h1 class="display-2"><span class="badge bg-light">Welcome to Lexwheels</span></h1>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <p class="lead">A student project about <a href="{{ url_for('owners') }}">owners</a> and their cars</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Data</h5>
            <p class="card-text">
              Registered owners are available to view as a list as well as individual owners.
              The individual owners view lists the cars owned by the individual owner.
            </p>
            <a href="{{ url_for('owners') }}" class="card-link">Owners</a>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">API</h5>
            <p class="card-text">
              There is a simple API that returns owners as JSON-formatted data.<br><br>
              In a similar fashion individual owners are also available.
            </p>
            <a href="{{ url_for('api.owners') }}" class="card-link">{{ url_for('api.owners') }}</a>
          </div>
        </div>
      </div>
      <div class="col-md-auto">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Admin</h5>
            <p class="card-text">
              Car owner data can be added to, changed and/or deleted.<br><br>
              These operations are available on the Admin pages, and are restricted to authenticated users only.<br><br>
              Fortunately a user named <b>admin</b> with password <b>admin</b> is available.
            </p>
            <a href="{{ url_for('admin.admin') }}" class="card-link">Admin</a> 
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

