{% extends "base.html" %}

{% block title %}Login{% endblock %}



{% block content %}
  <p>
    {% for message in get_flashed_messages() %}
      <div class="alert alert-info" role="info">{{ message }}</div>
    {% endfor %}
    <h2>Login</h2>
  </p>
  <form method="post" id="login" action="">
    <p>
      Username:
      <input type="text" name="username" value="" />
    </p>
    <p>
      Password:
      <input type="text" name="password" value="" />
    </p>
    <p>
      <input type="submit" name="submit" value="Login" />
    </p>
  </form>
{% endblock %}
