{% extends "base.html" %}

{% block title %}Lexwheels Admin page{% endblock %}

{% block navbar %}
  {% if g.user %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Log out</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('admin.admin') }}">Admin<span class="sr-only">(current)</span></a>
          </li>
  {% endif %}
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('owners') }}">Owners</a>
  </li>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto ">
        <h1 class="display-2"><span class="badge bg-light">Lexwheels <span class="badge badge-primary">Admin</span></span></h1>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <p class="lead">A place to transform owners and their cars.</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Owners</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">
                <a class="btn btn-light" href="{{ url_for('admin.add_owner') }}">
                  Add Owner
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for owner_chunk in owners %}
              <tr>
                {% for owner in owner_chunk %}
                  <td scope="row">
                    <a href="{{ url_for('admin.owner', id = owner.id) }}">{{ owner.name }}</a> 
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
